<h1> LOOK AT IT </h1>
<img src = "http://www.geofffox.com/MT/images/roxie%20yawns-thumb-520x416.jpg" />
<h1> DID YOU LOOK AT IT?? </h1>
<h2> (He's saying he's a lion) </h2>
<h4> ... <%= @name %> hates you if you didn't.</h4>